.holder{
	display:flex;
	background-color:green;
	justify-content:space-evenly
}
.item{
	
	
	background-color:orange;
	padding:20px;
	margin:5px;
	 height: 200px;
}
.one{
	background-color:orange;
	padding:20px;
	margin:5px;
	align-self:center;
}
